# Beipsiel für die Konfiguration der Interfaces
# /etc/network/interfaces

auto lo
iface lo inet loopback

# this NIC will be used for VM traffic to the internet
auto eth0
iface eth0 inet static
    up ifconfig $IFACE 0.0.0.0 up
    up ip link set $IFACE promisc on
    down ip link set $IFACE promisc off
    down ifconfig $IFACE down
    address 192.168.128.246
    netmask 255.255.255.0
    dns-nameservers 8.8.8.8 8.8.4.4
    dns-search example.com

# this NIC must be on management network
auto eth1
iface eth1 inet static
    address 192.168.128.131
    netmask 255.255.255.0
    gateway 192.168.128.254
    dns-nameservers 8.8.8.8 8.8.4.4
